<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Add Task</title>
  </head>
  <body>
    <form method="post" action="{% url mode pk %}">
      {% csrf_token %}
      {{ taskForm.as_p }}
      <input type="submit" value={{ actionName }}/>
    </form>
  </body>
</html>
