<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile</h1>
    <ul>
      <li><a href="{% url 'home' %}">Dashboard</a></li>
    </ul>
  </body>
</html>
