<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <p><a href="{% url 'logout' %}?next=/">Logout</a></p>
    {% for dept in allDeptObjs %}
      <h2>{{dept.name}}</h2>
      {% if request.user.username == dept.user.username  %}
	<ul>
	  <li><a href="{% url 'addtask' %}">Add Task</a></li>
	</ul>
      {% endif %}
      <table width="100%">
	{% for task in dept.task_set.all %}	  
	  <thead>
            <tr>
	      <th>Title</th>
	      <th>Creator</th>
	      <th>Description</th>
	      <th>Created Time</th>
	      <th>Updated Time</th>
	      <th>End Time</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>{{task.title}}</td>
	      <td>{{task.user}}</td>
	      <td>{{task.description}}</td>
	      <td>{{task.created_at}}</td>
	      <td>{{task.updated_at}}</td>
	      <td>{{task.ended_at}}</td>
	      {% if request.user.username == task.user.username  %}
		<td><a href="{% url 'updatetask' pk=task.id %}">Edit</a></td>
		<td><a href="{% url 'deletetask' pk=task.id %}">Delete</a></td>
	      {% endif %}
	    </tr>
	  </tbody>
	{% endfor %}
      </table>
    {% endfor %}
  </body>
</html>
