<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login</h1>
    {% if form.errors %}
    {% endif %}

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input name="next" type="hidden" value="{{next}}"/>
      <input type="submit" value="Login"/>
    </form>
  </body>
</html>
